@model Declaration

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-success">Create New Declaration</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 p-1">
                <label asp-for="Date" class="p-0"></label>
                <input asp-for="Date" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3 p-1">
                <label asp-for="OrdinalHours" class="p-0"></label>
                <input asp-for="OrdinalHours" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="OrdinalHours" class="text-danger"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 p-1">
                <label asp-for="ExtraHours" class="p-0"></label>
                <input asp-for="ExtraHours" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="ExtraHours" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3 p-1">
                <label asp-for="SickHours" class="p-0"></label>
                <input asp-for="SickHours" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="SickHours" class="text-danger"></span>

            </div>
        </div>
        <div class="row">

            <div class="col-md-6 mb-3 p-1">
                <label asp-for="HolidayHours" class="p-0"></label>
                <input asp-for="HolidayHours" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="HolidayHours" class="text-danger"></span>

            </div>
            <div class="col-md-6 mb-3 p-1">
                <label asp-for="PermissionHours" class="p-0"></label>
                <input asp-for="PermissionHours" class="form-control bg-secondary text-secondary" />
                <span asp-validation-for="PermissionHours" class="text-danger"></span>

            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control bg-success">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Declaration" asp-action="Index" class="btn btn-outline-success form-control">
                    Back to Overview
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}